@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #f5f5f5;
    width: 100vw;
    height: 100vh;
    padding: 24px;
}

#main-container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    background: #fff;
    padding: 48px 36px 36px 36px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    border: 2px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#main-header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

#main-header p{
    width: 90%;
    text-align: center;
    color: #666;
}

#main-header h1{
    font-weight: normal;
    color: #333;
}

#grid-section {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
    column-gap: 36px;
}

#first-card{
    grid-row-start: 1;
    grid-row-end: 4;
    flex-direction: column;
}

#first-card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

#first-card .card-content{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px 24px;
    gap: 12px;

}

.card, #first-card{
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.card{
    grid-column-start: 2;
}

.card-img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 0 0 12px;
    background-color: #4fade7;
}

.card-content h2{
    font-weight: normal;
    color: #333;
}

.card-content p{
    color: #666;
}

.card-content{
    width: 44%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-footer{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#first-card .card-footer{
    flex-direction: column;
}

#footer-a-first , #footer-a-second{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: flex-start;
    width: 100%;
}

#footer-a-second{
    gap: 36px;
}

#footer-a-first{
    color: #4fade7;
}

#first-card .card-footer h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: normal;
    cursor: pointer;
}

#footer-a-first:hover {
    text-decoration: underline;
}
.card-footer p{
    display: flex;
    align-items: center;
    gap: 8px;
}

#arrow-icon {
    cursor: pointer;
}

#arrow-icon:hover {
    transform: translateX(20%);
    transition: transform 0.3s ease-in-out;
}

#divider {
    width: 100%;
    background: #ddd;
    margin: 24px 0;
}