@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    width: 100vw;
    height: 100vh;
}
#main-container{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    background: #fff;
    padding: 48px 36px 36px 36px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
#nav-container{
    margin-bottom: 24px;
    padding-bottom: 24px;
    width: 100%;
    height: 60px;
}
#navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #35a1a2;
}
.navhead-text-container{
    width: 50%;
    text-align: left;
}
.navhead-text-container p{
    text-transform: uppercase;
    font-size: 36px;
    font-weight: normal;
}
.nav-options-list{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 100%;
    text-transform: capitalize;
}
.nav-options a{
    text-decoration: none;
    font-size: 18px;
    color: #35a1a2;
}
.nav-options a:hover{
    text-decoration: underline;
}

.divider{
    width: 100%;
    height: 2px;
    background-color: #e0e0e0;
    margin: 12px 0;
}

#form-container{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

#bug-report-form{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
    border: 4px solid #bcc3ca;
    border-radius: 8px;
}
#form-header{
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
    background-color: #bcc3ca;
    padding: 24px 12px;
    display: flex;
    align-items: center;
}

#form-body{
    padding: 6px 24px 12px 24px;
    width: 100%;
}
.form-groups{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}
.form-groups label, #license{
    font-size: 16px;
    font-weight: 600;
    color: #8d8d8d;
}

.form-groups input, .form-groups textarea, .form-groups select{
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 3px solid #bcc3ca;
    border-radius: 6px;
    outline: none;
}
.form-groups input[type="number"]{
    width: 30%;
}
.form-groups select{
    background-color: #1abc9c;
    color: #ffffff;
    font-weight: bold;
    border-color: #1abc9c;
}

.form-groups select option{
    color: #000000;
    font-weight: normal;
    background-color: #ffffff;
}
#license-group{
    width: 60%;
}
#license-options,.license-radio{
    display: flex;
    align-items: center;
}

#license-options{
    gap: 24px;
    justify-content: space-between;
}
.license-radio{
    gap: 4px;
}

#form-footer{
    width: 100%;
    padding: 12px 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #edeff1;
    border-top: 4px solid #bcc3ca;
}
#submit-btn{
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #1abc9c;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#submit-btn:hover{
    background-color: #16a085;
    transition: background-color 0.3s ease transform 0.3s ease; 
    transform: scale(1.1);

}